// shop/shop-frontend/src/styles.scss

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Set the global background and text colors */
body {
  background-color: theme('colors.background');
  color: theme('colors.accent.DEFAULT');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}