asyncpg
fastapi
ftfy
imagehash
motor
numpy
Pillow
pinecone
psycopg2-binary
pydantic[email]
PyJWT
pymongo
python-dotenv
python-jose[cryptography]
python-multipart
qrcode[pil]
requests
SQLAlchemy>=2.0
tqdm
torch
transformers
uvicorn[standard]
sentence-transformers
cryptography>=39.0.0
web3>=6.0.0